.pai-dos-lados{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}
.pai-dos-lados div{
    width: 50%; 
}
.pai-dos-lados .direito img{
    width: 100%;
    
}
.pai-dos-lados .esquerdo p{
    text-align: justify;
}
.pai-dos-lados .esquerdo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pai-dos-lados .esquerdo button{
    width: 200px;
    border: 2px black solid;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    box-shadow: black 3px 3px 0px;
    cursor: pointer; 
    
}
.pai-dos-lados .esquerdo button:hover{
    background-color: #444;
}
.pai-dos-lados .esquerdo h1, .newsletter h2 {
    text-transform: uppercase;
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.newsletter .inscreva-se {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

body {
 background-image: url(../img/mauro-lima-zKqCXw4r7r8-unsplash.jpg) ;
 background-repeat: no-repeat; /* fundo nao repetir */
 background-position: center; /* centralizar a imagem */
 background-size: cover; /* deixar a imagem na tela inteira */
 background-color: #fff;
 backdrop-filter: blur(3px)
}



